# Firebase
EXPO_PUBLIC_FIREBASE_API_KEY=
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=
EXPO_PUBLIC_FIREBASE_PROJECT_ID=
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
EXPO_PUBLIC_FIREBASE_APP_ID=

# AdMob
EXPO_PUBLIC_ADMOB_BANNER_AD_UNIT_ID=ca-app-pub-3940256099942544/6300978111
EXPO_PUBLIC_ADMOB_REWARD_AD_UNIT_ID=ca-app-pub-3940256099942544/5224354917

# Firebase Emulator (set to 1 in development)
# EXPO_PUBLIC_FIREBASE_USE_EMULATOR=1
